<link href='http://fonts.googleapis.com/css?family=Sacramento' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Dancing+Script:700' rel='stylesheet' type='text/css'>



<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script type="text/javascript" src="assets/jquery.parallax-1.1.3.js"></script>
<script type="text/javascript" src="assets/jquery.localscroll-1.2.7-min.js"></script>
<script type="text/javascript" src="assets/jquery.scrollTo-1.4.2-min.js"></script>
<script type="text/javascript">

$(document).ready(function(){
	$('#nav').localScroll(800);
	
	//.parallax(xPosition, speedFactor, outerHeight) options:
	//xPosition - Horizontal position of the element
	//inertia - speed to move relative to vertical scroll. Example: 0.1 is one tenth the speed of scrolling, 2 is twice the speed of scrolling
	//outerHeight (true/false) - Whether or not jQuery should use it's outerHeight option to determine when a section is in the viewport
	$('#intro').parallax("50%", 0.1);
	$('#second').parallax("50%", 0.1);
	$('.bg').parallax("50%", 0.5);

})
</script>

	<ul id="nav">
		<li><a href="#intro" title="Next Section"><img src="/assets/dot.png" alt="Link" /></a></li>
	    <li><a href="#second" title="Next Section"><img src="/assets/dot.png" alt="Link" /></a></li>
	    <li><a href="#third" title="Next Section"><img src="/assets/dot.png" alt="Link" /></a></li>
	</ul>
	
	<div id="intro">
		<div class="story">

			<div class="logo">
			<h1> { Dhanto S. Yudha } </h1>
			</div>


			  <h3>
			    Welcome to my personal website! 
			  </h3>

			    <h3>Regards,</h3>
			    <h3>D.S.Y</h3>
			    

	    </div> 
	</div> 
	
	<div id="second">
		<div class="story"><div class="bg"></div>

	    	<div class="float-right">
	            <h2>About Me</h2>
	            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nibh erat, sagittis sit amet congue at, aliquam eu libero. Integer molestie, turpis vel ultrices facilisis, nisi mauris sollicitudin mauris, volutpat elementum enim urna eget odio. Donec egestas aliquet facilisis. Nunc eu nunc eget neque ornare fringilla. Nam vel sodales lectus. Nulla in pellentesque eros. Donec ultricies, enim vitae varius cursus, risus mauris iaculis neque, euismod sollicitudin metus erat vitae sapien. Sed pulvinar.</p>

	            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nibh erat, sagittis sit amet congue at, aliquam eu libero. Integer molestie, turpis vel ultrices facilisis, nisi mauris sollicitudin mauris, volutpat elementum enim urna eget odio.</p>
	        </div>
	    </div> 

			<blockquote>
			  <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante."</p>
			  <small>Someone famous <cite title="Source Title">Source Title</cite></small>
			</blockquote>


	</div> 

	<div id="third">
		<div class="story">
			<div class="span4">
				<img src="assets/self.png" class="img-circle">
				<h4>Dhanto S. Yudha</h4>
				<h5>Rails Newb and UX Enthusiast</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nibh erat,
                       sagittis sit amet congue at, aliquam eu libero. Integer molestie, turpis
                       vel ultrices facilisis, nisi mauris sollicitudin mauris.</p>
            	<ul class="Social">
                    <li>
                    <a href="#" rel="tooltip" class="Facebook" title="Facebook">Facebook</a>
                    </li>
                    <li>
                    <a href="http://sg.linkedin.com/in/dhantosy" rel="tooltip" class="Linkedin" title="Linkedin" target="blank">LinkedIn</a>
                    </li>
                    <li>
                    <a href="http://instagram.com/dhantosy" rel="tooltip" class="Instagram" title="Instagram" target="blank">Instagram</a>
                    </li>
                    <li>
                    <a href="#" rel="tooltip" class="Tumblr" title="Tumblr">Tumblr</a>
                    </li>
                    </ul>
            </div>
	    </div> 
	</div> 









