<link href='http://fonts.googleapis.com/css?family=Sacramento' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Dancing+Script:700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css'>



<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="assets/jquery.parallax-1.1.3.js"></script>
<script type="text/javascript" src="assets/jquery.localscroll-1.2.7-min.js"></script>
<script type="text/javascript" src="assets/jquery.scrollTo-1.4.2-min.js"></script>
<script type="text/javascript">


$(document).ready(function(){
	$('#navi').localScroll(800);
	
	//.parallax(xPosition, speedFactor, outerHeight) options:
	//xPosition - Horizontal position of the element
	//inertia - speed to move relative to vertical scroll. Example: 0.1 is one tenth the speed of scrolling, 2 is twice the speed of scrolling
	//outerHeight (true/false) - Whether or not jQuery should use it's outerHeight option to determine when a section is in the viewport
	$('#intro').parallax("50%", 0.3);
	$('#aboutme').parallax("50%", 0.1);
	$('.logo').parallax("50%", 0.0);
	$('#aboutme2').parallax("50%", 0.2);




	


})
</script>





<header>

<div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <ul id="navi" class="nav">
                        <li class=""><a href="#intro">Home</a></li>
                        <li class=""><a href="#aboutme">About</a></li>
                        <li class=""><a href="#gallery">Gallery</a></li>
                        <li class=""><a href="#contactme">Contact</a></li>
                    </ul>
          </div>
        </div>
    </div>

</header>

<body>
	
	<div id="intro">
		<div class="story">

			<div class="logo"></div>


			    

	    </div> 
	</div> 
	
	<div id="aboutme">
		<div class="story">

	    	<div class="info">
	            <h2>About Me</h2>
	            <p>Hi there! Thanks for visiting my personal website. My name is Dhanto Santika Yudha, or just Dhanto in short. I'm an E-Business and management graduate with working experiences in marketing and sales area. Highly passionate in technology and advertising industry. I have been learning Ruby on Rails and UX to broaden personal skills and knowledge.</p>

	            <p>Currently I'm working as Sales and Marketing Executive cum IT Support. I Manage the production of marketing materials. Also, I assist Sales Manager to build and maintain key contacts. As an Indonesian working in Singapore, I liase with overseas clients and partners, mainly Indonesian market. Additionally, my job requires me to repare quotation and tender documents to send to various organization and Government Agencies.</p>

	            <p>Other than that, I'm also acting as the IT support in the company I'm working for. I developed the company’s website, I manage IT function such as hardware maintenance, software application, and system installation.</p>
	        </div>
	    </div> 


	</div> 

	<div id="gallery">


	  
	</div> 


	<div id="aboutme2">
		<div class="story"> <div class="logo"></div>


	    </div> 


	</div> 


	<div id="contactme">
		<div class="story">
			<div class="span4">
				<img src="assets/self.png" class="img-circle">
				<h4>Dhanto S. Yudha</h4>
				<h5>Rails Newb and UX Enthusiast</h5>
					<p>Drop me an email, or join my professional network in LinkedIn!</p>
            	<ul class="Social">
                    <li>
                    <a href="#" rel="tooltip" class="Facebook" title="Facebook">Facebook</a>
                    </li>
                    <li>
                    <a href="mailto:d.santika.yudha@gmail.com" rel="tooltip" class="Email" title="Email">Email Me</a>
                    </li>
                    <li>
                    <a href="http://instagram.com/dhantosy" rel="tooltip" class="Instagram" title="Instagram" target="blank">Instagram</a>
                    </li>
                    <li>
					<a href="http://sg.linkedin.com/in/dhantosy" rel="tooltip" class="Linkedin" title="Linkedin" target="blank">LinkedIn</a>
                    </li>
                 </ul>
            </div>
	    </div> 
	</div>


</body>







